# Ignore Python virtual environments
.venv/
venv/

# Ignore environment variables and configuration files
.env
*.env

# Ignore Python cache and compiled files
__pycache__/
__pycache__
*.pyc
*.pyo

# Ignore IDE files
.vscode/
.idea/

# Ignore log and database
*.json
celerybeat-schedule

# Ignore scrapy cache
.scrapy/